.container {
  padding: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(45deg, #FFB22C, #F96A0B);
  padding: 30px;
  width: 600px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background 0.3s ease;
}

.form:hover {
  background: linear-gradient(45deg, #F96A0B, #FFB22C);
}

::placeholder {
  font-family: inherit;
}

.flex-column > label {
  color: white;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10em;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.input {
  margin-left: 10px;
  border-radius: 10rem;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #3A0519;
}

.button-submit {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  transition: ease-out 0.5s;
  border: 2px solid white;
  border-radius: 10em;
  box-shadow: inset 0 0 0 0 #3A0519;
  margin: 20px 0 10px 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #3A0519;
}

.button-submit:active {
  transform: scale(0.95);
}

.status {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
